PROJECT_ROOT=$PWD

export VULKAN_SDK=/opt/vulkan-sdk-1.4.335.0/x86_64/
export VK_LAYER_PATH=$VULKAN_SDK/share/vulkan/explicit_layer.d
export VK_ICD_FILENAMES=/usr/share/vulkan/icd.d/nvidia_icd.x86_64.json

path_add LD_LIBRARY_PATH "$VULKAN_SDK/lib"
export LD_LIBRARY_PATH

path_add PATH "$VULKAN_SDK/bin"
export PATH
